apiVersion: v1
kind: Secret
metadata:
  name: kondate-auth0
type: Opaque
stringData:
  domain: YOUR_AUTH0_DOMAIN  # e.g. example.auth0.com
  audience: YOUR_AUTH0_AUDIENCE  # e.g. https://kondate.example.com
