apiVersion: v1
kind: Secret
metadata:
  name: kondate-oidc
type: Opaque
stringData:
  issuer: YOUR_OIDC_ISSUER  # e.g. https://example.auth0.com/
  audience: YOUR_OIDC_AUDIENCE  # e.g. https://kondate.example.com
  client_id: YOUR_OIDC_CLIENT_ID
  allowed_subs: YOUR_ALLOWED_SUBS  # comma-separated, e.g. auth0|abc123,auth0|def456
